<h2>Character List</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.fName }}</td>
            <td>{{ employee.lName }}</td>
            <td>{{ employee.emailID }}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>  
                <span>     </span>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-red">Delete</button>  
            </td>
        </tr>
    </tbody>
</table>
